.Alert {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 15px;
    left: 0px;
    width: 100%;
}

.alertBody {
    background-color: rgba(0, 0, 0, 0.6);
    width: 250px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -70px;
    transition: transform 0.3s ease-in-out;
}

.alertBody.show {
    transform: translateY(70px);
}

.alertBody #message {
    color: white;
    font-size: 15px;
}