.UserData {
    width: 100%;
    margin-top: 20px;
}

.selectYearDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0;
}

#thisYear {
    font-size: 25px;
    font-weight: 600;
}

#lastYear, #nextYear {
    cursor: pointer;
}

.UserData #number {
    text-align: center;
}

/* list */
.container {
    margin: 6px 0;
}

.contents {
    border: 1px solid black;
    display: flex;
    align-items: baseline;
    padding: 5px 5px 7px 5px;
}

.contents .icon {
    width: 30px;
    padding: 0 3px;
    margin-top: 3px;
    margin-right: 5px;
}

#iconEmoji {
    font-size: 20px;
}

.data {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}

.createdAt {
    font-size: 17px;
}