.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 50px;
}

/* title */
.titleDiv {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title span {
  font-size: 30px;
}

.title #emoji {
  margin-right: 10px;
}

input[type="submit"]:hover,
input[type="button"]:hover {
  cursor: pointer;
}
