@font-face {
  font-family: "Cafe24SsurroundAir";
  font-weight: 50;
  src: url("./fonts/Cafe24SsurroundAir.ttf");
}

.App, .App input, .App button {
  font-family: "Cafe24SsurroundAir";
}

.App {
  display: flex;
  justify-content: center;
}

.Main, .Writing {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 50px;
  max-width: 700px;
  width: 100%;
}

/* title */
.titleDiv {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  display: flex;
  align-items: center;
}

.title span {
  font-size: 30px;
}

.titleDiv p {
  font-size: 20px;
  text-align: center;
}

.title #emoji {
  margin-right: 10px;
}

input[type="submit"]:hover,
input[type="button"]:hover,
button {
  cursor: pointer;
}

.user {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

#userGreeting {
  margin: 20px 0;
  font-size: 20px;
  font-weight: 600;
  position: relative;
}

#userName {
  position: absolute;
  left: 104px;
  top: -3px;
  opacity: 0.7;
  z-index: -2;
  padding: 3px 1px;
}


/* buttons */
.greenBtn, .yellowBtn, .blueBtn {
  margin: 0px 5px;
  padding: 10px 25px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 600;
  color: white;
}

.greenBtn{
  background-color: #48cd6b;
  border: 1px solid #39b359;
}

.greenBtn:hover {
  background-color: #42b962;
}

.yellowBtn {
  background-color: #fddb46;
  border: 1px solid #f2d039;
}

.yellowBtn:hover {
  background-color: #fcc631;
}

.blueBtn {
  background-color: #79bcff;
  border: 1px solid #84bcf3;
}

.blueBtn:hover {
  background-color: #378ee5;
}


/* writing */
.writingDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.writingDiv textarea {
  width: 100%;
  height: 100px;
  font-family: "Cafe24SsurroundAir";
  resize: none;
  font-size: 18px;
  padding: 15px;
  border: 1px solid gray;
  /* color: #5b3917; */
}

/* .writingDiv textarea::placeholder {
  color: #cd853f;
}

.writingDiv textarea:focus {
  outline: 1px solid #a36b32;
} */

#writingForm {
  width: 100%;
}

.writingSetting {
  display: flex;
  margin: 10px 0 30px 0;
  width: 100%;
}

.writingDetail {
  display: flex;
  width: 50%;
  padding: 0 20px;
  justify-content: space-between;
}

.writingDetail label {
  margin-right: 10px;
  font-size: 18px;
}

#dateInput {
  font-size: 16px;
  padding: 4px 10px 0 10px;
}

.writingSubmitBtn {
  width: 100%
}

#emojiBtn {
  font-size: 18px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 0 10px;
}

.emojiPickerContainer {
  display: none;
  z-index: 1;
  position: absolute;
  top: 335px;
}

.emojiPickerContainer.display {
  display: flex;
}