@font-face {
  font-family: "Cafe24SsurroundAir";
  font-weight: 50;
  src: url("./fonts/Cafe24SsurroundAir.ttf");
}

body {
  background-color: #f4f8ff;
}

.App, .App input, .App button {
  font-family: "Cafe24SsurroundAir";
}

.App {
  display: flex;
  justify-content: center;
}

.Main, .Writing {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 50px;
  max-width: 700px;
  width: 100%;
  /* userName과 Modal을 위한 z-index 설정 */
  z-index: 1;
}

/* title */
.titleDiv {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  display: flex;
  align-items: center;
}

.title span {
  font-size: 30px;
}

.titleDiv p {
  font-size: 20px;
  text-align: center;
}

.title #emoji {
  margin-right: 10px;
  margin-bottom: 5px;
  font-size: 25px;
}

input[type="submit"]:hover,
input[type="button"]:hover,
button {
  cursor: pointer;
}

/* user */
.user {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3px;
  padding-bottom: 20px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

#userGreeting {
  margin: 20px 0;
  font-size: 20px;
  font-weight: 600;
  position: relative;
}

#userName {
  z-index: 2;
  position: relative;
}

#userNameHighlight {
  position: absolute;
  left: 104px;
  top: -3px;
  opacity: 0.7;
  padding: 3px 1px;
  z-index: 1;
  color: yellow;
  background-color: yellow;
}


/* buttons */
.greenBtn, .yellowBtn, .blueBtn {
  margin: 0px 5px;
  padding: 10px 25px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  box-sizing: border-box;
}

.greenBtn{
  background-color: #48cd6b;
  border: 1px solid #39b359;
}

.greenBtn:hover {
  background-color: #42b962;
}

.yellowBtn {
  background-color: #fddb46;
  border: 1px solid #f2d039;
}

.yellowBtn:hover {
  background-color: #fcc631;
}

.blueBtn {
  background-color: #79bcff;
  border: 1px solid #84bcf3;
}

.blueBtn:hover {
  background-color: #378ee5;
}

.greenBtn:disabled {
  background-color:rgba(128, 128, 128, 0.548);
  border-color:rgba(128, 128, 128, 0.678);
}

.greenBtn:disabled:hover {
  background-color: rgba(128, 128, 128, 0.766);
}

/* writing */
.writingDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.writingDiv textarea {
  width: 100%;
  height: 150px;
  font-family: "Cafe24SsurroundAir";
  resize: none;
  font-size: 18px;
  padding: 15px;
  border: 1px solid rgba(128, 128, 128, 0.253);
  border-radius: 10px;
  box-sizing: border-box;
}

.writingDiv textarea:focus {
  outline: 1px solid rgba(128, 128, 128, 0.548);
}

#writingForm {
  width: 100%;
}

.writingSetting {
  display: flex;
  margin: 10px 0 30px 0;
  width: 100%;
}

.writingDetail {
  display: flex;
  width: 50%;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.writingDetail label {
  margin-right: 10px;
  font-size: 18px;
}

#dateInput {
  font-size: 16px;
  padding: 6px 7px 2px 7px;
}

.writingSubmitBtn {
  width: 100%
}

#emojiBtn {
  font-size: 18px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 2px 10px;
}

.emojiPickerContainer {
  display: none;
  z-index: 1;
  position: absolute;
  top: 360px;
}

.emojiPickerContainer.display {
  display: flex;
}


@media (max-width: 730px) {
  .Main, .Writing {
    padding: 0 30px;
  }

  /* title */
  .titleDiv {
    margin-top: 30px;
  }

  .title span {
    font-size: 25px;
  }

  .titleDiv p {
    font-size: 16px;
    text-align: center;
  }

  .title #emoji {
    font-size: 20px;
  }

  /* user */
  #userGreeting {
    margin: 15px 0px;
    font-size: 16px;
    text-align: center;
  }

  #userNameHighlight {
    left: 84px;
  }

  /* buttons */
  .greenBtn, .yellowBtn, .blueBtn {
    margin: 0 2px;
    padding: 6px 11px;
    font-size: 14px;
  }

  /* writing */
  .Writing p {
    text-align: center;
  }

  .writingDiv textarea {
    font-size: 16px;
  }

  .writingSetting {
    margin-bottom: 20px;
  }

  .writingDetail label {
    font-size: 15px;
    margin-bottom: 3px;
  }

  #dateInput {
    font-size: 14px;
    padding: 5px 5px 1px 5px;
  }

  .emojiPickerContainer {
    top: 355px;
    right: 5px;
  }
}

@media (max-width: 530px) {
  .writingDetail {
    padding: 0 10px;
    flex-direction: column;
    align-items: stretch;
  }
  
  #emojiBtn {
    font-size: 16px;
    padding: 1px;
    margin-top: 5px;
  }

  .emojiPickerContainer {
    top: 380px;
    right: 5px;
  }
}